<app-navbar ></app-navbar>
<br>
<div class="container">
  <button  class="btn btn-primary" (click)="saveGarage()" >
 Ajouter un nouveau Garage
  </button>
  <!-- <button  class="btn btn-danger" >
    logout</button> -->
    <!-- <a class="button" href="">
    <img src="https://pbs.twimg.com/profile_images/378800000639740507/fc0aaad744734cd1dbc8aeb3d51f8729_400x400.jpeg">
    <div class="logout">LOGOUT</div>
    </a> -->
  <table class="text-center table shadow-lg mt-4">
      <thead class="thead-dark">
          <tr>
              <!-- <th>ID</th> -->
              <th>Nom de garage</th>
              <th>Description</th>
              <th>Lieu</th>
              <th></th> <th></th>
          </tr>
      </thead>

      <tbody>
          <tr *ngFor="let garage of garages ">
              <!-- <td>{{garage.id}}</td> -->
              <td>{{garage.nomGarage}}</td>
              <td>{{garage.descriptions}}</td>
              <td>{{garage.lieux}}</td>
               <td><button class="btn btn-danger" (click)="deleteGarage(garage.id)">Delete</button>
              <td><button class="btn btn-info" (click)="updateGarage(garage.id)" >Update</button>

       </tr>
      </tbody>

  </table>
  <!-- <form #form="ngForm" class="pb-2 "(submit)="sendName(form)">

    <div class="form-group row">
        <label for="designation" class="col-sm-2 col-form-label">Nom Garage :</label>
        <div class="col-sm-10">
            <input required id="designation" autofocus
            placeholder="Titre de produit"
            type="text" class="form-control" name="nomGarage" [(ngModel)]="yourGarage" >
            </div>
    </div>



    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label"> </label>
        <div class="col-sm-10">
            <button class="bt btn-dark" >Enregistrer nom</button>
        </div>
    </div>
</form> -->

</div>

